---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

#@charset "utf-8";

#@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
#@import "minimal-mistakes"; // main partials
.page__hero--overlay {
  min-height: 500px; // kamu bisa ubah ke 600px atau lebih sesuai kebutuhan
  background-size: contain; // atau `cover` tergantung hasil yang kamu mau
  background-position: center top;
}
