---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.hero-image {
  width: 100%;
  height: auto; /* biar tinggi otomatis dan proporsional */
  display: block;
  margin: 0 auto;
}

// Tambahan custom biar gambar header gak kepotong
.page__hero--overlay {
  min-height: 600px !important;
  background-size: contain !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.contact-box {
  background: #f0f8ff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 2rem auto;
  font-size: 18px;
  line-height: 1.6;
}
